<h1>Write Your Post</h1>

<%= form_for(@post, html: {multipart: true}) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<br />

	<%= f.label :body %>
	<%= f.text_area :body %>

	<br />

	<%= f.submit 'Post' %>
<% end %>